{% macro render_table(headers, rows) %}
<table border="1">
    <thead>
        <tr>
            {% for h in headers %}
                <th>{{ h }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
